h1 {
  color:black;
  background: blanchedalmond;
}

h2 {
  color:red;
  background: blanchedalmond;
}

h3 {
  color:green;
  background: blanchedalmond;
}

h4 {
  color:black;
  background: blanchedalmond;
}

h5 {
  color:black;
  background: blanchedalmond;
}

h6 {
  color:black;
  background: blanchedalmond;
}
